{% extends 'base.html' %}
{% block body %}
<div class="form-login">
    <form action="/login" method="POST">
        <div class="sesion">
            <h4 style="font-size: 40px;">Iniciar sesión</h4>
        </div>
        <div class="input_text">
            <ul> <input class="textfield" type="text" name="id_user" placeholder="ingresa número identidad"></ul>
            <ul> <input class="textfield" type="password" name="password" placeholder="ingresa tu contraseña"></ul>
            <ul> <input class="boton" type="submit" value="INICIAR SESIÓN"></ul>
            <h1 style="font-size: 20px;">¿No tienes una cuenta?</h1>
            <a style="font-size: 20px;" href="/register"> Registrarte</a>
        </div>

    </form>

</div>

{% endblock %}